<!--This template represents the middle of the content area.  a top and bottom for it called contentTop and contentBottom are needed to complete it-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 col-md-3"> </div>
        <div class="col-xs-12 col-md-6">
            <ng-include src="'http://localhost:2403/templates/formAst.html'"></ng-include>
        </div>
        <div class="col-sm-1 col-md-3"> </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 col-md-3"> </div>
        <div class="col-xs-12 col-md-6">
            <ng-include src="'http://localhost:2403/templates/solarTimes.html'"></ng-include>
            <ng-include src="'http://localhost:2403/templates/solarDetail.html'"></ng-include>
        </div>
        <div class="col-sm-1 col-md-3"> </div>
    </div>
</div>
