<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-1 col-md-1"> </div>
        <div class="col-xs-12 col-md-8">
        <a href="/"><h2>Apparent Solar Time</h2></a>
        <p>Apparent Solar Time is the estimate of sunrise and sunset times of your location, as calculated for GMT offset, daylight savings
            time, and geo-location</p>
        <!--div id="locations">
            <pre>addressLine={{addressLine}}</pre>
            <table class="table table-striped">
                <tr><th>Locations</th></tr>
                <tr><td>Will loop data here either using ng or dpd</td></tr>
            </table>
        </div>-->
        </div>
    </div>
</div>
<hr>
