<table   id="solar-detail" class="table table-striped table-hover" ng-table>
    <tr>
        <td colspan="2">
            <h4>Solar details {{solarDetails.date }}</h4>
        </td>
    </tr>
    <tr>
        <th>Day length:</th>
        <td>{{solarDetails.day_length }} Hrs.</td>
    </tr>
    <tr>
        <th>Sunrise</th>
        <td>{{solarDetails.sunrise }}</td>
    </tr>
    <tr>
        <th>solar noon</th>
        <td>{{solarDetails.solar_noon }}</td>
    </tr>
    <tr>
        <th>Sunset</th>
        <td>{{solarDetails.sunset }}</td>
    </tr>
    <tr>
        <th>Civil twilight begin</th>
        <td>{{solarDetails.civil_twilight_begin }}</td>
    </tr>
    <tr>
        <th>Civil twilight end</th>
        <td>{{solarDetails.civil_twilight_end }}</td>
    </tr>
    <tr>
        <th>Range from Nautical Afternoon</th>
        <td>{{solarDetails.rf_nautical_afternoon }} Hrs.</td>
    </tr>
    <tr>
        <th>Nautical twilight begin</th>
        <td>{{solarDetails.nautical_twilight_begin }}</td>
    </tr>
    <tr>
        <th>Nautical twilight end</th>
        <td>{{solarDetails.nautical_twilight_end }}</td>
    </tr>
    <tr>
        <th>Astronomical twilight begin</th>
        <td>{{solarDetails.astronomical_twilight_begin }}</td>
    </tr>
    <tr>
        <th>Astronomical twilight end</th>
        <td>{{solarDetails.astronomical_twilight_end }}</td>
    </tr>
</table>
